@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $colors: (
        "primary": ("base": #2563eb),
        "success": ("base": #22c55e),
        "warning": ("base": #eab308),
        "danger": ("base": #ef4444),
        "info": ("base": #0ea5e9),
    )
);
